In [18]:
import pandas as pd
from datetime import datetime, timedelta

In [19]:
#Reading the data
df =  pd.read_csv("./data/cleaned_data.csv")
columns_to_keep = ['pickup_datetime', 'pickup_longitude','pickup_latitude']
df = df[columns_to_keep]

In [20]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

# Round down to the nearest hour
df['rounded_timestamp'] = df['pickup_datetime'].dt.floor('H')
df = df.drop('pickup_datetime', axis=1)
df

/var/folders/f6/3j2ss2s17kng3g2xrm_hz4sm0000gn/T/ipykernel_36101/974265387.py:4: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df['rounded_timestamp'] = df['pickup_datetime'].dt.floor('H')

        pickup_longitude  pickup_latitude         rounded_timestamp
0             -73.999817        40.738354 2015-05-07 19:00:00+00:00
1             -73.994355        40.728225 2009-07-17 20:00:00+00:00
2             -74.005043        40.740770 2009-08-24 21:00:00+00:00
3             -73.976124        40.790844 2009-06-26 08:00:00+00:00
4             -73.925023        40.744085 2014-08-28 17:00:00+00:00
...                  ...              ...                       ...
174524        -73.983070        40.760770 2014-01-31 14:00:00+00:00
174525        -73.987042        40.739367 2012-10-28 10:00:00+00:00
174526        -73.984722        40.736837 2014-03-14 01:00:00+00:00
174527        -73.997124        40.725452 2015-05-20 14:00:00+00:00
174528        -73.984395        40.720077 2010-05-15 04:00:00+00:00

[174529 rows x 3 columns]

In [21]:


# Format the datetime column to 'YYYY-MM-DD:HH'
df['rounded_timestamp'] = df['rounded_timestamp'].dt.strftime('%Y-%m-%d:%H')
df

        pickup_longitude  pickup_latitude rounded_timestamp
0             -73.999817        40.738354     2015-05-07:19
1             -73.994355        40.728225     2009-07-17:20
2             -74.005043        40.740770     2009-08-24:21
3             -73.976124        40.790844     2009-06-26:08
4             -73.925023        40.744085     2014-08-28:17
...                  ...              ...               ...
174524        -73.983070        40.760770     2014-01-31:14
174525        -73.987042        40.739367     2012-10-28:10
174526        -73.984722        40.736837     2014-03-14:01
174527        -73.997124        40.725452     2015-05-20:14
174528        -73.984395        40.720077     2010-05-15:04

[174529 rows x 3 columns]

In [24]:
df = df.rename(columns={
    'pickup_longitude': 'longitude',
    'pickup_latitude': 'latitude',
    'rounded_timestamp': 'start_time',
})

In [25]:
def add_one_hour(start_time):
    # Parse the string into a datetime object
    dt = datetime.strptime(start_time, '%Y-%m-%d:%H')
    # Add one hour
    end_time = dt + timedelta(hours=1)
    # Convert back to 'YYYY-MM-DD:HH' format
    return end_time.strftime('%Y-%m-%d:%H')

# Apply the function to the 'start_time' column to create 'end_time'
df['end_time'] = df['start_time'].apply(add_one_hour)

In [30]:
df=df.head(2000)

In [31]:
df.to_csv('input.csv', index=False)